<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Aggregated tags</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'obs/../../static/obs/../../../../venv/Lib/site-packages/obs/static/obs/style.css' %}">
</head>
<body>
{% if aggregated_tags %}
    <ul>
        {% for tag in aggregated_tags %}
            <li>{{ tag.tag }} -> {{ tag.amount|floatformat:2 }}</li>
        {% endfor %}
    </ul>
{% else %}
    <p>No tags in query &tag.</p>
{% endif %}
</body>
</html>
