<!DOCTYPE html>
<html>
<head>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
    <meta charset="utf-8">
    <title>Aggregated tags</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'obs/style.css' %}">
</head>
<body>
<div class="chart-container" style="position: relative; height:400px; width:800px">
    <canvas id="chart"></canvas>
</div>

</body>
<script>


    function createChart(labels, data) {
        let ctx = document.getElementById('chart').getContext('2d');
        let chart = new Chart(ctx, {
            // The type of chart we want to create
            type: 'bar',

            // The data for our dataset
            data: {
                labels: labels,
                datasets: [{
                    backgroundColor: 'rgb(255,99,132)',
                    borderColor: 'rgb(255, 99, 132)',
                    data: data
                }]
            },

            // Configuration options go here
            options: {
                legend: {
                    display: false
                },
                animation: {
                    duration: 1,
                    onComplete: function () {
                        let chartInstance = this.chart,
                            ctx = chartInstance.ctx;

                        ctx.font = Chart.helpers.fontString(
                            40,
                            Chart.defaults.global.defaultFontStyle,
                            Chart.defaults.global.defaultFontFamily
                        );
                        ctx.textAlign = 'center';
                        ctx.textBaseline = 'bottom';

                        this.data.datasets.forEach(function (dataset, i) {
                            let meta = chartInstance.controller.getDatasetMeta(i);
                            meta.data.forEach(function (bar, index) {
                                let data = dataset.data[index];
                                {# make sure that numbers are roudner to 2 decimals #}
                                data = parseFloat(data).toFixed(2);
                                ctx.fillText(data, bar._model.x, bar._model.y - 5);
                            });
                        });
                    }
                },
                scales: {
                    ticks: {
                        backdropColor: 'black'
                    },
                    xAxes: [{
                        gridLines: {
                            display: false
                        },
                        ticks: {
                            fontSize: 40,
                        }
                    }],
                    yAxes: [{
                        gridLines: {
                            display: false
                        },
                        ticks: {
                            beginAtZero: true,
                            fontSize: 30,
                        }
                    }]
                }
            }
        });
    }

    function handleAggregationResponse(response) {
        console.log(response)
        let labels = []
        let amounts = []
        response.aggregated_tags.forEach((tag) => {
            labels.push(tag.tag)
            amounts.push(tag.amount)
        });

        createChart(labels, amounts);

    }

    function fetchData() {
        fetch(window.location.origin + '/obs/api/aggregate?tag=foo&tag=%23test&tag=%23msg')
            .then(response => response.json())
            .then(data => handleAggregationResponse(data));
    }

    let queryInterval = setInterval(fetchData, 1000);

    const urlParams = new URLSearchParams(window.location.search);
    const tags = urlParams.getAll('tag');
    console.log(tags);


</script>
</html>
